.outerbox{
    width:100%;
    height: 500px;
    background: rebeccapurple;
    padding: 10px;
}
.box1{
    width:40%;
    height:30%;
    background: rosybrown;
    float: left;
    margin: 10px;
}

.box2{
    width:40%;
    height:30%;
    background: rgb(18, 136, 120);
    float: left;
    margin: 10px;
}

.box3{
    width:40%;
    height:30%;
    background: rgb(146, 154, 226);
    float: left;
    margin: 10px;
}

.box4{
    width:40%;
    height:30%;
    background: rgb(175, 41, 92);
    float: left;
    margin: 10px;
}